---
title: Welcome to Middleman
---

.container
  .section.content
    .opacity-card.is-no-effect
      = link_to '#', class: 'opacity-card__inner' do
        %h1.opacity-card__title
          いぬの正しいしつけ方を学ぼう
        %p.opacity-card__description
          吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

.container
  .section.content
    .opacity-card
      = link_to '#', class: 'opacity-card__inner' do
        %h1.opacity-card__title
          いぬの正しいしつけ方を学ぼう
        %p.opacity-card__description
          吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  .section.content
    .opacity-card.is-gradient
      = link_to '#', class: 'opacity-card__inner' do
        %h1.opacity-card__title
          いぬの正しいしつけ方を学ぼう
        %p.opacity-card__description
          吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  .section.content
    .opacity-card.is-separated
      = link_to '#', class: 'opacity-card__inner' do
        %h1.opacity-card__title
          いぬの正しいしつけ方を学ぼう
        %p.opacity-card__description
          吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  .section.content
    .opacity-card.is-harmonized
      = link_to '#', class: 'opacity-card__inner' do
        %h1.opacity-card__title
          いぬの正しいしつけ方を学ぼう
        %p.opacity-card__description
          吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  .section.content
    .opacity-card.is-white
      = link_to '#', class: 'opacity-card__inner' do
        %h1.opacity-card__title
          いぬの正しいしつけ方を学ぼう
        %p.opacity-card__description
          吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  .section.content
    .opacity-card.is-colored
      = link_to '#', class: 'opacity-card__inner' do
        %h1.opacity-card__title
          いぬの正しいしつけ方を学ぼう
        %p.opacity-card__description
          吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  .section.content
    .opacity-card.is-no-effect
      = link_to '#', class: 'opacity-card__inner' do
        %h1.opacity-card__title
          いぬの正しいしつけ方を学ぼう
        %p.opacity-card__description
          吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  - filters = %w(multiply screen overlay darken lighten color-dodge color-burn hard-light soft-light difference exclusion hue saturation color luminosity)
  - filters.each do |filter|
    .section.content
      .opacity-card.is-mode{class: "is-#{filter}"}
        = link_to '#', class: 'opacity-card__inner' do
          %h1.opacity-card__title
            いぬの正しいしつけ方を学ぼう
          %p.opacity-card__description
            = filter
            吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。
    
  - filters.each do |filter|
    .section.content
      .opacity-card.is-mode.is-blue{class: "is-#{filter}"}
        = link_to '#', class: 'opacity-card__inner' do
          %h1.opacity-card__title
            いぬの正しいしつけ方を学ぼう
          %p.opacity-card__description
            = filter
            吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

