---
title: Photo Card
---

%ul.section.content.card-list
  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample4.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample7.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。


%ul.section.content.card-list
  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-no-effect' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

%ul.section.content.card-list

  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')

  %li.photo-card
    = link_to '#', class: 'photo-card__layer is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

%ul.section.content.card-list
  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample4.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample7.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

%ul.section.content.card-list
  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-no-effect' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-particular' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

%ul.section.content.card-list
  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-particular' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample4.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-particular' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample7.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-particular' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

%ul.section.content.card-list
  %li.photo-card
    = image_tag('sample4.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-no-effect' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample4.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-blue' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = link_to '#', class: 'photo-card__layer is-blue' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample4.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-blue is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = link_to '#', class: 'photo-card__layer is-blue is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

%ul.section.content.card-list
  %li.photo-card
    = image_tag('sample7.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-no-effect' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample7.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-red' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = link_to '#', class: 'photo-card__layer is-red' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample7.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-red is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = link_to '#', class: 'photo-card__layer is-red is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

%ul.section.content.card-list
  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-no-effect' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-brown' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = link_to '#', class: 'photo-card__layer is-brown' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-brown is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = link_to '#', class: 'photo-card__layer is-brown is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

%ul.section.content.card-list
  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-brown' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample4.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-blue' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample7.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-red' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

%ul.section.content.card-list
  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-brown is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample4.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-blue is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample7.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-red is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

%ul.section.content.card-list
  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-white' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample4.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-white' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample7.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-white' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

%ul.section.content.card-list
  %li.photo-card
    = image_tag('sample1.jpg', class: 'photo-card__image')
    = link_to '#', class: 'photo-card__layer is-white is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample4.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-white is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。

  %li.photo-card
    = image_tag('sample7.jpg', class: 'photo-card__image is-wide')
    = link_to '#', class: 'photo-card__layer is-white is-gradient' do
      %h1.photo-card__title
        いぬの正しいしつけ方を学ぼう
      %p.photo-card__description
        吠えるとついつい叱っていませんか？いぬのしつけには逆効果です。正しい方法を学びましょう。
